html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Css Proyecto*/

body{
    background-color: #f4f4fc;
    height: 100vh;
}

header{
    height: 10%;
}

h1{
    margin: auto;
    font-size: 2.5em;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    text-align: center;
}

.logo{
    position: absolute;
    left: 15px;
    right: 36px;
    top: 0%;
    bottom: 0%;
    width: 100px;
    height: 50px;
}

main{
    display:flex;
    justify-content: space-between; 
    /*flex-wrap: nowrap; */
    height: 80%;
}

.section-1{
    display: inherit;
    flex-direction: column;
}

.box{
    height: 100%;
    display: inherit;
    margin: auto;
}

.box_text{
    background-color: #f4f4fc;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border: none;
    padding: 20px;
    text-transform: lowercase;
    outline: none;
}

.box_text::placeholder{
    color:#0A3871;
}


.message{
    padding: 20px 0 0 20px;
    position: relative;
    display: flex;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    font-family: 'Inter',sans-serif;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

button{
    padding: 10px;
    margin: 5px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-family: 'Inter',sans-serif;
}

.btn{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 24px; 
}

.btn-e{
    background: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: white;
    cursor: pointer;
}

.btn-d{
    background: #D8DFE8;
    flex: none;
    order: 1;
    flex-grow: 0;
    color:#0A3871;
    cursor: pointer;
}

label{
    width: 336px;
    height: 58px;
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    flex: none;
    order: 0;
}

.section-2{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0 20px 20px;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
    justify-content: space-between;
    align-items: center;
}

.box-img{
    position: relative;
    box-sizing: border-box;
    padding-top: 50px;
}

.box-label{
    position: relative;
    box-sizing: border-box;
    text-align: center;
 }

.box-label label{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343A40;
}

.box-label p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
}

.box-result{
    position: relative;
    width: 320px;
    padding: 20px;
    box-sizing: border-box;
}

.box-result p{
    color: #495057;
    font-size: 30px;
}

.btn-c{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: relative;
}

.ocultar{
    display: none;
}

footer{
    color: white;
    background-color: black;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: silver;
}

/*Responsive Telefonos*/

@media (max-width: 360px) {

    .box_text{
        padding: 0;
        width: 280px;
    }
    .btn-c, .btn-d, .btn-e{
        width: 320px;
    }
    .btn{
        padding: 0;
        flex-direction: column;
    }
    main{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .box-img, .logo{
        display: none;
    }
    .section-1, .section-2{
        align-items: flex-start;
    }
    .btn-copy, section{
        padding: 0;
    }
}
  

@media(min-width: 361px) and (max-width: 410px) {
    
    main{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .box_text{
        padding: 0;
        width: 350px;
    }

    .btn{
        padding: 10px 0 0 10px;
        flex-direction: column;
    }
    .box-img, .logo{
        display: none;
    }
    .section-1, .section-2{
        align-items: flex-start;
    }
    .btn-copy, section{
        padding: 0;
    }
}

@media(min-width: 411px) and (max-width: 480px) {
    main{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .btn{
        flex-direction: column;
    }
    .box-img, .logo{
        display: none;
    }
    .section-1, .section-2{
        align-items: flex-start;
    }
    .btn-copy, section{
        padding-left: 10px;
    }
    .box_text{
        padding: 20px;
        width: 350px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    main{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .btn{
        flex-direction: column;
    }
    .box-img{
        display: none;
    }
    .section-1, .section-2{
        align-items: center;
    }
    .btn-copy, section{
        padding: 0;
    }
    .section-2{
        width: 520px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    main{
        align-items: center;
        justify-content: center;
    }
    .btn{
        flex-direction: column;
    }
    .section-1, .section-2{
        align-items: center;
    }
    .btn-copy, section{
        padding: 0;
    }
    .section-2{
        width: 420px;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
    main{
        align-items: center;
        justify-content: center;
    }
    .btn{
        flex-direction: column;
    }
    .section-1, .section-2{
        align-items: center;
    }
    .btn-copy, section{
        padding: 0;
    }
    
}
  
  
  


